<!DOCTYPE html>
<html>
<head>
  <title>RailsCodeTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults, "jquery.tmpl" %>
  <%= javascript_include_tag :defaults, "jquery.tmpl", "json","jquery.offline" %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body class="external signin no-contents fixed-width">

<%= yield %>

</body>
</html>
